/* ========================================
   HERO
======================================== */
.hero {
    position: relative;
    overflow: hidden;
    min-height: 100vh;
    display: flex;
    align-items: center;
}

/* Video siempre como fondo absoluto */
.hero-image {
    position: absolute;
    inset: 0;
    z-index: 0;
}

.hero-image video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Texto siempre encima */
.hero-text {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: flex-start;
    padding: 60px 80px;
    max-width: 600px;
}

.hero-image::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: linear-gradient(to right, #000000, transparent);
    z-index: 1;
}

.hero h1 {
    font-size: 48px;
    font-weight: 700;
    color: white;
    line-height: 1.2;
    margin-bottom: 20px;
    text-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

.hero-subtitle {
    font-size: 18px;
    color: rgba(255, 255, 255, 0.95);
    margin-bottom: 25px;
    line-height: 1.6;
    text-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
}

.hero-cta-button {
    padding: 16px 36px;
    font-size: 18px;
}

@media (min-width: 992px) {
    .hero-image {
        position: absolute;
        inset: unset;    /* cancela el inset: 0 base */
        top: 0;
        right: 0;        /* ← pegado a la derecha */
        bottom: 0;
        left: auto;
        width: 50%;
    }

    .hero-text {
        max-width: 50%;
        padding: 60px 60px 60px 80px;
        
    }
}

/* ── TABLET ── */
@media (max-width: 768px) {
    .hero-text {
        padding: 60px 24px;
        max-width: 100%;
    }

    .hero-text h1{
        line-height: 1.4;
    }

    .hero-image video {
    }
    

    .hero-image::before {
        content: '';
        position: absolute;
        inset: 0;
        background: #000000b3;
        z-index: 1;
        width: 100%;
    }

    .hero h1 {
        font-size: 32px;
    }

    .hero-subtitle {
        font-size: 16px;
    }

    .btn {
        padding: 15px 30px;
        font-size: 16px;
        width: 100%;
        justify-content: center;
    }
}

/* ── MOBILE ── */
@media (max-width: 479px) {
    .hero-text {
        padding: 60px 24px;
        max-width: 100%;
    }

    .hero-text h1{
        line-height: 1.4;
    }

    .hero-image::before {
        content: '';
        position: absolute;
        inset: 0;
        background: #000000b3;
        z-index: 1;
        width: 100%;
    }

    .hero h1 {
        font-size: 32px;
    }

    .hero-subtitle {
        font-size: 16px;
    }

    .btn {
        padding: 15px 30px;
        font-size: 16px;
        width: 100%;
        justify-content: center;
    }
}